*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    margin-top: 15px;
}

.dishes{
    position: relative;
    border: 3px solid black;
    background-color: gray;
}


.dishes__title{
    border: 3px solid black;
    border-top: none;
    border-right: none;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.dishes__text{
    margin-top: 40px;
}

.chicken{
    background-color: pink;
    margin: 0;
    padding: 5px 10px 5px;
}

.beef{
    background-color: maroon;
    margin: 0;
    padding: 5px 30px 5px;  
    color: #fff;
}

.sushi{
    background-color: greenyellow;
    margin: 0;
    padding: 5px 30px 5px;
}